@import url('https://fonts.gooleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body
{
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font: inherit;
  text-align: justify;
  line-height: 1.35em;
  letter-spacing: 0.02em;
}
.container 
{
  position: relative;
  width: 100%;
  max-width: 1000%;
  min-height: 10%;
  background: #fff;
  margin: 1.5em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0,0,0,0.1) ;
}
.container .left_Side
{
position: relative;
background: hsl(149, 91%, 9%);
padding: 4em;
}
.profileText
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgBx
{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profileText .imgBx img
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.profileText h2
{
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profileText h2 span
{
font-size: 0.8em;
font-weight: 300;
}
.containerInfo
{
  padding-top: 40px;

}
.title
{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 01px;
  margin-bottom: 20px;
}
.container ul
{
  position: relative;
}
.container ul li
{
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.container ul li .icon
{
  display: inline-block;
  width: 30px;
  font-size: 018px;
  color: #03a9f4;
}
.container ul li span
{
  color: #fff;
  font-weight: 300;
}
.container.education li
{
  margin-bottom: 015px; 
}
.containerInfo.education h5
{
  color: #03a9f4;
  font-weight: 500;
}
.containerInfo.education h4:nth-child(2)
{
  color: #fff;
  font-weight: 500;
}
.containerInfo.education h4
{
  color: #fff;
  font-weight: 300;
}
.containerInfo.language .percent 
{
 position: relative;
 width: 100%;
 height: 06px;
 background-color: #300242;
 display: block;
 margin-top: 05px;
}
.containerInfo.language .percent div
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(30, 255, 0);
}


.container .right_Side
{
position: relative;
background: rgba(216, 252, 255, 0.637);
padding: 4em;
}
.about 
{
  margin-bottom: 3em;
}
.about:last-child
{
  margin-bottom: 1em;
}
.title2
{
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-bottom: 1em;
}
p
{
  color: #333;
}
.about .box
{
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  min-width: 0.01em;
}
.about .box .year_company
{
  min-width: 10em;
  margin-bottom: 1em;
}
.about .box .year_company h5
{
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
  margin-bottom: 1em;
  text-align: left;
  padding-right: 1em;
}
.about .box .text h4
{
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 1em;
}
.skills .box
{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
  align-items: center;
}
.skills .box h4
{
  text-transform: uppercase;
  color: #848c90;
  font-weight: 500;
}
.skills .box .percent
{
 position: relative;
 width: 100%;
 height: 10px;
 background: #300242;
}
.skills .box .percent div
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}
.interest ul
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.interest ul li
{
  list-style: none;
  color: #333;
  font-weight: 500;
  margin: 0.3em 0;
}
.interest ul li .fa
{
  color: #03a9f4;
  font-size: 18px;
  width: 20px;
}
@media (max-width: 1000px)
{
.container
{
  margin: 10px;
  grid-template-columns: repeat(1,1fr);
}
.interest ul
{
  grid-template-columns: repeat(2,1fr);
}
}
@media (max-width: 600px)
{
  .about .box
  {
    flex-direction: column;
  }
}
.about .box .year_company
{
  margin-bottom: 5px;
}
.interest ul
{
  grid-template-columns: repeat(2,1fr); 
}
.skills .box
{
  grid-template-columns: repeat(1,1fr);
}
.text h4
{
  margin-bottom: .8em;
}
li
{
list-style-type: circle;
font-weight: 100;
font-family: gothic 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-size-adjust: 1px;
margin-right: 05px;
}
button{
  background-color: rgb(3, 179, 47);
  border: none;
  padding: 1.5em;
  font-weight: bold;
  font-size: 0.9em;
  width: 40em;
  margin-bottom: 4em;
  border-radius: 2em;
  position: relative;
  margin-left: 1em;
}
button:hover {
  background-color: rgb(6, 255, 47);
}




